<section class="daily-sport-section">
  <div class="quote">
    <div class="quote-container">
      <span class="icon-runner circle-icon"></span>
      <div>
        <h3 class="quote-title">
          Quote of the day
          <span class="icon-quotation quotation-mark"></span>
        </h3>
        <p class="quote-text">Excellence is not a singular act but a habit. You are what you do repeatedly.</p>
        <p class="quote-author">Shaquille O'Neal</p>
      </div>
    </div>
  </div>
  <picture class="photo quote-img-mobile">
    <source
      srcset="/assets/images/avif/quote-img-mob-2x.avif 2x, /assets/images/avif/quote-img-mob.avif 1x"
      type="image/avif"
      alt="sport"
    />
    <source
      srcset="/assets/images/webp/quote-img-mob-2x.webp 2x, /assets/images/webp/quote-img-mob.webp 1x"
      type="image/webp"
      alt="sport"
    />
    <source
      srcset="/assets/images/jpg/quote-img-mob-2x.jpg 2x, /assets/images/jpg/quote-img-mob.jpg 1x"
      type="image/img"
      alt="sport"
    />
    <img
      src="/assets/images/jpg/quote-img-mob.jpg "
      loading="lazy"
      class="quote-img"
      alt="sport"
      width="335"
      height="242"
    />
  </picture>

  <picture class="photo quote-img-tab">
    <source
      srcset="/assets/images/avif/quote-img-tab-2x.avif 2x, /assets/images/avif/quote-img-tab.avif 1x"
      type="image/avif"
      alt="sport"
    />
    <source
      srcset="/assets/images/webp/quote-img-tab-2x.webp 2x, /assets/images/webp/quote-img-tab.webp 1x"
      type="image/webp"
      alt="sport"
    />
    <source
      srcset="/assets/images/jpg/quote-img-tab-2x.jpg 2x, /assets/images/jpg/quote-img-tab.jpg 1x"
      type="image/img"
      alt="sport"
    />
    <img
      src="/assets/images/jpg/quote-img-tab.jpg "
      loading="lazy"
      class="quote-img"
      alt="sport"
      width="288"
      height="258"
    />
  </picture>

  <picture class="photo quote-img-desk">
    <source
      srcset="/assets/images/avif/quote-img-2x.avif 2x, /assets/images/avif/quote-img.avif 1x"
      type="image/avif"
      alt="sport"
    />
    <source
      srcset="/assets/images/webp/quote-img-2x.webp 2x, /assets/images/webp/quote-img.webp 1x"
      type="image/webp"
      alt="sport"
    />
    <source
      srcset="/assets/images/jpg/quote-img-2x.jpg 2x, /assets/images/jpg/quote-img.jpg 1x"
      type="image/img"
      alt="sport"
    />
    <img
      src="/assets/images/jpg/quote-img.jpg "
      loading="lazy"
      class="quote-img"
      alt="sport"
      width="444"
      height="242"
    />
  </picture>

  <picture class="photo quote-img-favorite">
    <source
      srcset="/assets/images/avif/quote-img-fav-2x.avif 2x, /assets/images/avif/quote-img-fav.avif 1x"
      type="image/avif"
      alt="sport"
    />
    <source
      srcset="/assets/images/webp/quote-img-fav-2x.webp 2x, /assets/images/webp/quote-img-fav.webp 1x"
      type="image/webp"
      alt="sport"
    />
    <source
      srcset="/assets/images/jpg/quote-img-fav-2x.jpg 2x, /assets/images/jpg/quote-img-fav.jpg 1x"
      type="image/img"
      alt="sport"
    />
    <img
      src="/assets/images/jpg/quote-img-fav.jpg "
      loading="lazy"
      class="quote-img"
      alt="sport"
      width="335"
      height="119"
    />
  </picture>

  <div class="daily-excercise">
    <span class="icon-weight circle-icon"></span>
    <div>
      <h4 class="excercise-title">110 min</h4>
      <h5 class="excercise-sub">Daily norm of sports</h5>
      <p class="excercise-text">
        The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity
        throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every
        day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may
        offer unparalleled benefits to physical health, mental well-being, and overall quality of life.
      </p>
    </div>
  </div>
</section>
