<!--
 Element: js-title-slash - remove class is-hide to show slash / in section title
 Element: form-search-exersises  - remove class is-hide to show form
 Element: js-clear-input - remove class is-hide to show X sign to clear input
 Element: btn-filter- toggle class active to show active category
 data-btn="muscles", data-btn="bodypart", data-btn="equipment" - current category for API
-->

<section class="exersises container">

    <div class="content"></div>

    <div class="pagination"></div>
</section>
