<div class="overlay hidden js-mobile-overlay" id="overlay">
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu" aria-label="Close menu">
      <svg class="menu-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <ul class="menu-nav-container js-menu-link">
      <li class="menu-nav-item">
        <a href="./index.html" class="menu-nav-link">Home</a>
      </li>
      <li class="menu-nav-item">
        <a href="./favorites.html" class="menu-nav-link">Favorites</a>
      </li>
    </ul>

    <ul class="social">
      <li class="social-link">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-media"
          target="_blank"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a
          href="https://www.instagram.com/goitclub/ "
          class="social-media"
          target="_blank"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="./images/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-media"
          target="_blank"
        >
          <svg class="social-icon" width="28" height="28">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
