<div class="overlay hidden js-mobile-overlay" id="overlay">
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu" aria-label="Close menu">
      <span class="icon-x"></span>
    </button>

    <ul class="menu-nav-container js-menu-link">
      <li class="menu-nav-item">
        <a href="./index.html" class="menu-nav-link" aria-label="home button">Home</a>
      </li>
      <li class="menu-nav-item">
        <a href="./favorites.html" class="menu-nav-link" aria-label="favorites button">Favorites</a>
      </li>
    </ul>

    <load data-url="partials/social.html" />
  </div>
</div>
