<ul class="social">
  <li>
    <a href="https://www.facebook.com/goITclub/" target="_blank" class="social-link">
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/goitclub/ " target="_blank" class="social-link">
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/c/GoIT" target="_blank" class="social-link">
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
