.footer {
  background-color: var(--primary-dark-color);
}

.footer-container {
  padding-top: 40px;
}

.footer .social-link {
  border: 1px solid rgba(244, 244, 244, 0.1);
}

.footer .social-icon {
  fill: var(--primary-light-color);
}

.footer .social-link:hover {
  background-color: var(--primary-light-color);

  .social-icon {
    fill: var(--primary-dark-color);
  }
}

.footer-brand-name {
  margin-bottom: 20px;
}

.footer-logo {
  fill: var(--primary-light-color);
}

.footer-left {
  margin-bottom: 40px;
}

.footer-right {
  margin-bottom: 120px;
}

.footer-title {
  color: var(--primary-light-color);
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.76px;
  margin-bottom: 20px;
}

.footer-title span {
  font-style: italic;
}

.form-header {
  color: var(--primary-light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

.footer-form {
  width: 100%;
}

.footer-form-input {
  background-color: var(--primary-dark-color);
  border: 1px solid var(--primary-light-color);
  border-radius: 30px;
  color: var(--primary-light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.footer-form-button {
  background-color: var(--primary-light-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 20px;
  width: 100%;
  color: var(--primary-dark-color);
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright-item {
  color: var(--footer-policy-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 10px;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .footer-brand-name {
    margin-bottom: 32px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
  }

  .footer-left {
    margin-bottom: 0;
    max-width: 156px;
  }

  .footer-right {
    margin-bottom: 0;
    max-width: 434px;
    margin-bottom: 64px;
  }

  .footer-copyright {
    min-width: 100%;
  }

  .footer-title {
    color: var(--primary-light-color);
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.88px;
    margin-bottom: 32px;
  }

  .form-header {
    color: var(--primary-light-color);
    font-size: 18px;
    line-height: 24px;
  }

  .footer-form {
    width: 346px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-right {
    margin-bottom: 70px;
    max-width: 1062px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-title {
    max-width: 595px;
    margin-bottom: 0;
  }
}
