html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-light-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 20px 0;
  display: block; /* placeholder */
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  fill: var(--primary-dark-color);
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  fill: var(--primary-dark-color);
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
}

.menu-icon:focus {
  outline: none;
}

.menu-icon:hover {
  transform: scale(1.05);
  background-color: var(--primary-light-color);
}

.icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  fill: var(--primary-light-color);
  transition: transform 0.3s ease, fill 0.3s ease;
}

.nav {
  display: none;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 233px;
  height: 52px;
  border-radius: 60px;
  background-color: var(--primary-dark-color);
  transition: background-color 0.3s ease;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light-color);
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  gap: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.toggle-btn-home {
  padding: 6px 12px;
  width: 68px;
  height: 36px;
}

.toggle-btn-favorites {
  padding: 6px 12px;
  width: 91px;
  height: 36px;
}

.toggle-btn.active {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

.toggle-btn:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
  transition: background-color 0.5s;
}

.header .social {
  display: none;
}

.header .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  transition: background-color 0.4s, transform 0.2s;
}

.header .social-icon {
  fill: var(--primary-dark-color);
}

.header .social-link:hover {
  transform: scale(1.05);
  border: 1px solid rgba(24, 24, 24, 0.1);
  background-color: var(--primary-dark-color);
}

.header .social-link:hover .social-icon {
  fill: var(--primary-light-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 0;
  }

  .header .social {
    display: flex;
  }

  .nav {
    display: flex;
    transform: translateY(0);
  }

  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .toggle-container {
    width: 265px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 999;
  background-color: rgb(var(--cl-primary-dark) / 40%);
  transition: opacity var(--tran-duration);
}

.overlay.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-dark-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 0; /* Початковий стан прозорості */
  padding: 248px 0 20px;
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}

.menu-container.is-closing {
  transform: translateX(100%);
  opacity: 0;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-container .menu-icon {
  stroke: var(--primary-light-color);
}

.menu-container .menu-icon:hover {
  background-color: var(--primary-dark-color);
}

.menu-container .menu-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu-container .menu-nav-item:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}

.menu-container .menu-nav-container:hover {
  transition: background-color 0.4s, transform 0.2s;
}

.menu-container .menu-nav-link {
  text-align: center;
  color: var(--primary-light-color);
  text-decoration: none;
  font-size: 14px;
}

.menu-container .social {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.menu-container .social-link {
  align-items: center;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(244, 244, 244, 0.1);
  transition: background-color 0.4s, transform 0.2s;
  border-radius: 10px;
}

.menu-container .social-icon {
  fill: var(--primary-light-color);
}

.menu-container .social-link:hover {
  transform: scale(1.05);
  border: 1px solid rgba(24, 24, 24, 0.1);
  background-color: var(--primary-light-color);
}

.menu-container .social-link:hover .social-icon {
  fill: var(--primary-dark-color);
}
