html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-light-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 32px;
}

.pagination .button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--inactive-pagination-color);
  padding: 0;
}

.pagination .active {
  border: 1px solid var(--primary-dark-color);
  color: var(--primary-dark-color);
  cursor: auto;
  height: 32px;
  width: 32px;
}

.social {
  display: flex;
  gap: 12px;
}

.social-link {
  border-radius: 10px;
  display: inline-flex;
  padding: 8px;
  align-items: center;
  transition: all 0.3s ease;
}

.social-icon {
  width: 28px;
  height: 28px;
}

.main-layout {
  margin-bottom: 80px;
}

.loader-text {
  color: var(--primary-dark-color);
  display: none;
  font-size: 32px;
  margin-bottom: 32px;
}

.loader {
  width: 40px;
  height: 40px;
  border-width: 5px;
  border-style: dashed solid solid dotted;
  border-color: var(--card-subtitle-color) var(--primary-dark-color) var(--footer-policy-color);
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 10;
} 

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-layout {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main-layout {
    display: flex;
    gap: 32px;
    margin-bottom: 132px;
  }

  body:not(.favorites) .main-layout {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .container {
    max-width: 1440px;
  }
}
