html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-light-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 32px;
}

.pagination .button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--inactive-pagination-color);
  padding: 0;
}

.pagination .active {
  border: 1px solid var(--primary-dark-color);
  color: var(--primary-dark-color);
  cursor: auto;
  height: 32px;
  width: 32px;
}

.logo {
  width: 132px;
  height: 24px;
}

.social {
  display: flex;
  gap: 12px;
}

.social-link {
  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.10);
  display: inline-flex;
  padding: 8px;
  align-items: center;
}

.social-icon {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}
