.scroll-to-top {
  position: fixed;
  z-index: 10;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: none;
  background-color: var(--primary-dark-color);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--primary-light-color);
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 6px 2px rgba(183, 182, 182, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(183, 182, 182, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(183, 182, 182, 0.75);
}

.scroll-icon {
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .scroll-to-top {
    width: 60px;
    height: 60px;
  }

  .scroll-icon {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .scroll-to-top {
    width: 100px;
    height: 100px;
  }

  .scroll-icon {
    font-size: 33px;
  }
}

@keyframes spin {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}